@charset "utf-8";
/* CSS Document */
:root{
	--slide-1-bg: #5b9ab0;
	--slide-2-bg: #785d8a;
	--slide-3-bg: #5465b3;
	--slide-4-bg: #13acaf;
	
	--slide-1-link: #205163;
	--slide-2-link: #33233D;
	--slide-3-link: #B39642;
	--slide-4-link: #B05B27;
}
/*reset*/
*{
	box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #ffffff
}
/*slider*/
.slider{
	position: absolute;
	left: 0;right: 0;top: 0; bottom: 0;
	overflow: hidden;
	z-index:0;
}
.slide{
	position:absolute;
	width:100%;
	height:100%;
	transition:transform 1s cubic-bezier(0.85, 0, 0.15, 1);
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
	padding:3rem;
}
.slide img{
	height:55vh;
	padding: 5px;
}

#slide-1{
	background:var(--slide-1-bg);
	left:0;
}
#slide-2{
	background:var(--slide-2-bg);
	left:100%;
}
#slide-3{
	background:var(--slide-3-bg);
	left:200%;
}


#slide-radio-1:checked ~ .slide {transform:translateX(0);}
#slide-radio-2:checked ~ .slide {transform:translateX(-100%);}
#slide-radio-3:checked ~ .slide {transform:translateX(-200%);}

input{
	display: none;
}
.pagination{
	position: absolute;
	left:50%;
	transform:translateX(-50%);
	bottom:6rem;
	z-index:1;
}

.slide h1{
	font-size: 32px;
	line-height: 48px;
	letter-spacing:1px;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 16px;
}

.slide h2{
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 64px;
}

.slide a{
	display:inline-block;
	text-decoration: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 14px;
	padding: 16px 32px;
	border-radius: 50px;
	border: 1px solid transparent;
	transition: all 0.3s ease-in-out;
}

#slide-1 a{ background: var(--slide-1-link);}
#slide-2 a{ background: var(--slide-2-link);}
#slide-3 a{ background: var(--slide-3-link);}

.slide a:hover{
	border-color: #FFFFFF;
	color: #FFFFFF;
	background: transparent !important;
}

.pagination label{
	width: 24px;
	height: 24px;
	padding: 16px;
	opacity: 0.3;
	cursor: pointer;
	position: relative;
	transition:opacity 0.3s ease-in-out;
}
.pagination label:before,
.pagination label:after{
	content: '';
	border-radius: 50%;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

.pagination label:before{
	width: 24px;
	height: 24px;
	background: #ffffff;
}
.pagination label:after{
	width: 24px;
	height: 24px;
	border: 1px solid #ffffff;
	opacity: 0;
}

#slide-radio-1:checked ~ .pagination label:nth-child(1),
#slide-radio-2:checked ~ .pagination label:nth-child(2),
#slide-radio-3:checked ~ .pagination label:nth-child(3){
	opacity: 0.8;
}
#slide-radio-1:checked ~ .pagination label:nth-child(1):after
#slide-radio-2:checked ~ .pagination label:nth-child(2):after
#slide-radio-3:checked ~ .pagination label:nth-child(3):after{
	opacity: 1;
}
@media screen and (min-width:1200px){
	.slide{
		flex-direction:row;
		justify-content: space-between;
		text-align:left;
		padding:0 0 0 10rem;
	}
	.slide img{
		padding-right: 20px;
		height:70vh;
	}
}
@media screen and (max-width:600px){
	.slide img{
	height:50vh;
}
}

